-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => ('hilite' unless !$titleParams) }= link_to 'Movie Title', $titleUrl
      %th Rating
      %th{:class => ('hilite' unless !$dateParams) }= link_to 'Release Date', $dateUrl
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
